<div class="jumbtron">
  <h1 class="diplay-5 text-center">CSV loading and saving</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
    </div>
  </div>
  <button type="button" class="btn btn-dark m-1" (click)="loadCSV()">Load</button>
  <button type="button" class="btn btn-dark">Save</button>

  <table class='table table-striped m-3' aria-labelledby="tableLabel" *ngIf="people">
    <thead>
      <th>Name</th>
      <th>Surname</th>
      <th>Postal code</th>
      <th>City</th>
      <th>Phone</th>
    </thead>
    <tbody>
      <tr *ngFor="let person of people" [ngClass]="{'table-danger': isNaN(person)}">
        <td>
          {{ person.name }}
        </td>
        <td>
          {{ person.surname }}
        </td>
        <td>
          {{ person.postalCode }}
        </td>
        <td>
          {{ person.city }}
        </td>
        <td>
          {{ person.phone }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
